.input__email {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    background-color: #f7dfc1;
    color: black;
    padding: 20px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    width: 30%;
    height: 20px;
    position: relative;
    bottom: 4px;
}